<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <connectionStrings>
    <add name="HNCDIExternalProjectManage.Properties.Settings.HNCDIExternalProjectConnectionString"
      connectionString="Data Source=131.100.200.189;Initial Catalog=HNCDIExternalProject;Integrated Security=True;Connect Timeout=60;"
      providerName="System.Data.SqlClient" />
    <add name="HNCDIExternalProjectManage.Properties.Settings.HNCDIExternalProjectConnectionString1"
      connectionString="Data Source=131.100.200.189;Initial Catalog=HNCDIExternalProject;Integrated Security=True;Connect Timeout=60;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
